body{
    background-color: rgb(51, 40, 28);
    color: rgb(255, 255, 255);
}
.header{
    border-color: aliceblue;
    border-width: 5;
    border-style:groove;
}
.content{
    border-color: aliceblue;
    border-width: 5;
    border-style:dashed;
}